*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    background-color: aquamarine;
    color: rgb(66, 62, 62);
}

section{
    display: flex;
    
    height: 500px;
}

.left{
    padding-top: 1rem;


    width: 15%;
}

.middle{
    width: 65%;
    background-color: burlywood;
    padding: 1rem 1rem 1rem 1rem;

}

.middle p{
    margin-top: 1rem;
}

.right{
    width: 15%;
    padding: 1rem 1rem 1rem 1rem;

}

.left p {
    border: 1px solid rebeccapurple;
    background-color: greenyellow;
    padding: 30px;
    
}

img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 1rem;
}

footer{
    background-color: brown;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}